<% include ../../shared/header %>
<div class="ts-container">
  <% var genericdoc = tag %>
  <% var genericdocid = tag._id %>
  <% var genericdoctype = "Tag" %>
  <% var genericdoctypename = "tag" %>
  <% var genericdoctypelink = "tag" %>
  <% var genericdoctypeplurallink = "tags" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>