<details id="ts-child-taxonomy" class="ts-text-sm">
  <summary>Child <%- genericdoctypelink %></summary>
  <aside>
    <div class="ts-document noFormSubmit"  id="ts-child-attributes" data-taxonomytype="<%- genericdoctypename %>" data-taxonomydocid="<%- genericdocid %>">
      <div id="child-attributes" class="ts-row ts-form-row ts-container-margin-md">
      </div>
    </div>
  </aside>
</details>
